.cr-hero__text {
    position: relative;
    z-index: 10;
    color: white;
    font-size: 60px;
    line-height: 1em;

    > p {
        font-size: 24px;
        font-weight: 100;
        color: white;
    }
}

.cr-hero__text--bottom {
    bottom: 20%;
    position: absolute;
    left: 15px;
    right: 15px;
}

.cr-hero__button {
    margin-top: 30px;
}

.cr-hero__next-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;
}