            <footer class="cr-footer">
                <div class="cr-content mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <ul class="mdl-mini-footer__link-list">
                            <li>
                                <a class="mdl-typography--font-light cr-typography__text--no-underline" href="{{{baseUrl}}}/privacy.html">Privacy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-mini-footer__right-section">
                        Copyright © 2016 Marionette Labs<br>
                        Credit Refund is not affiliated with Google
                    </div>
                </div>
            </footer>
        </div>
        <div id="global-snackbar" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WKF63M"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WKF63M');</script>
    </body>
</html>
