.cr-content {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.cr-center-flex {
    flex-direction: row;
    justify-content: center;
}

.cr-center-block {
    display: block;
    margin: 0 auto;
}

.cr-content--no-padding {
    padding-left: 0;
    padding-right: 0;
}

.cr-layout--light-bg {
    background: unquote("rgba(#{$color-black}, 0.02)");
}

.cr-layout--dark-bg {
    background: unquote("rgba(#{$color-black}, 0.10)");
}

.cr-layout--full-width {
    width: 100%;
}