.cr-fee {
    padding-top: 90px;
    padding-bottom: 90px;
}

.cr-fee__heading {
    margin-top: 45px;
}

.cr-fee--return {
    color: $brand-success;
    font-weight: bold;
}

.cr-fee__breakdown {
    h5 {
        margin: 0;
    }
}

.cr-fee__percentage {
    display: flex;
    align-items: center;
}