{{> header title='Credit Refund - FAQ' description='Credit Refund frequently asked questions'}}
<div class="mdl-layout__content cr-layout--light-bg">
    <a name="top"></a>
    <div class="cr-content">
        <h1>This page no longer exists</h1>
        <p>
            You can go back to our <a href="{{baseUrl}}">homepage</a> or report the issue through our
            <a href="{{baseUrl}}/contact.html">contact us</a> page.
        </p>
    </div>
</div>
{{> footer}}