{{> header title='Credit Refund - FAQ' description='Credit Refund frequently asked questions'}}
            <div class="mdl-layout__content cr-layout--light-bg">
                <a name="top"></a>
                <div class="cr-content">
                    <h1>Frequently Asked Questions</h1>
                    <h4>
                        How long does it take for the funds to appear in my account?
                    </h4>
                    <p>
                        PayPal will usually deposit the funds in your account immediately. However, there may be
                        occasions where it can take up to 5 business days for the funds to appear in your account.
                        These situations would most likely occur when our primary PayPal account is in the process
                        of receiving additional funds to fulfil your order.
                    </p>
                    <hr>
                    <h4>
                        What happens if there's something wrong with my order?
                    </h4>
                    <p>
                        If we cannot send the funds to your account (for example, if your details are invalid), we will contact you
                        via email to arrange an alternative payment method.
                    </p>
                    <hr>
                    <h4>
                        What is the minimum and maximum amount I can convert?
                    </h4>
                    <p>
                        Currently, the minimum amount is $1.00 and the maximum is $100 per transaction.
                    </p>
                    <hr>
                    <p class="cr-typography__text--small">
                        Please visit our <a class="cr-typography__text--no-underline" href="{{{baseUrl}}}/contact.html">Contact Us</a> page if you have any other questions.
                    </p>
                </div>
            </div>
{{> footer}}