{{> header title='Credit Refund - Exchange Google Play Credit' description='Exchange your Google Play Credit into cash'}}
            <div class="mdl-layout__content">
                <a name="top"></a>
                <div class="cr-hero cr-hero__container mdl-typography--text-center">
                    <div class="cr-hero__text cr-hero__text--bottom">
                        <h1>Credit Refund</h1>
                        <p>An Android app to exchange your Play Store credits into cash.</p>
                        <a href="https://play.google.com/store/apps/details?id=marionettelabs.creditrefund" class="cr-hero__button mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                            <i class="material-icons">android</i> Download the app
                        </a>
                    </div>

                    <a class="cr-hero__next-button" href="#how-it-works">
                        <button class="mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                            <i class="material-icons">expand_more</i>
                        </button>
                    </a>
                </div>
                <div id="how-it-works" class="cr-how-it-works cr-layout--light-bg">
                    <div class="cr-content">
                        <h1 class=" mdl-typography--text-center">How it works</h1>
                        <div class="cr-how-it-works__step mdl-grid">
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--4-col-mobile">
                                <i class="cr-how-it-works__icons material-icons">phone_android</i><br>
                            </div>
                            <div class="mdl-cell mdl-cell--8-col mdl-cell--5-col-tablet mdl-cell--4-col-mobile">
                                <h5 class="cr-typography__text--large cr-typography__heading">1. Download the app</h5>
                                <p class="cr-typography__text--small">
                                    <a class="cr-typography__text--no-underline" href="#">Download</a> the "Credit Refund" app on the Google Play Store
                                </p>
                            </div>
                        </div>
                        <div class="cr-how-it-works__step mdl-grid">
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--4-col-mobile">
                                <i class="cr-how-it-works__icons material-icons">payment</i><br>
                            </div>
                            <div class="mdl-cell mdl-cell--8-col mdl-cell--5-col-tablet mdl-cell--4-col-mobile">
                                <h5 class="cr-typography__text--large cr-typography__heading">2. Make an in-app purchase</h5>
                                <p class="cr-typography__text--small">
                                    Use your Play Store credits to make an in-app purchase.
                                </p>
                            </div>
                        </div>
                        <div class="cr-how-it-works__step mdl-grid">
                            <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--4-col-mobile">
                                <i class="cr-how-it-works__icons material-icons">attach_money</i><br>
                            </div>
                            <div class="mdl-cell mdl-cell--8-col mdl-cell--5-col-tablet mdl-cell--4-col-mobile">
                                <h5 class="cr-typography__text--large cr-typography__heading">3. Receive your payout</h5>
                                <p class="cr-typography__text--small">
                                    Upon completion, your order will be immediately be processed.<br>
                                    You should receive your funds within 3 business days (though, it's usually instant)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cr-module cr-layout--dark-bg">
                    <div class="cr-content">
                        <h1 class=" mdl-typography--text-center">Our advantage</h1>
                        <div class="mdl-grid mdl-typography--text-center">
                            <div class="cr-module__module mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
                                <i class="cr-module__icons material-icons">whatshot</i><br>
                                <h5 class="cr-typography__text--large cr-typography__heading">Fast payout</h5>
                                <p class="cr-typography__text--small">No manual processing. Everything is automated so that
                                    you get a quick response
                                </p>
                            </div>
                            <div class="cr-module__module mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
                                <i class="cr-module__icons material-icons">verified_user</i><br>
                                <h5 class="cr-typography__text--large cr-typography__heading">Secure</h5>
                                <p class="cr-typography__text--small">
                                    Security is our top priority. We only deal with established, trusted vendors
                                </p>
                            </div>
                            <div class="cr-module__module mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                                <i class="cr-module__icons material-icons">update</i><br>
                                <h5 class="cr-typography__text--large cr-typography__heading">Open 24/7</h5>
                                <p class="cr-typography__text--small">It doesn't matter when, we will process your order within the hour</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cr-fee cr-layout--light-bg">
                    <div class="cr-content">
                        <h1 class="mdl-typography--text-center">Our fee structure</h1>
                        <p class="mdl-typography--text-center cr-typography__text--small">
                            We are transparent on the fees involved in our service. You will receive the following as a
                            return on your purchase:
                        </p>
                        <h3 class="mdl-typography--text-center cr-fee--return">
                            56%
                        </h3>
                        <p class="mdl-typography--text-center">
                            The following is a breakdown on the fees that will affect your payout:
                        </p>
                        <div class="cr-fee__breakdown">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--3-col-phone mdl-typography--text-right">
                                    <h5>Google Play services</h5>
                                    <small>Google takes 30% for all in-app purchases</small>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--1-col-phone cr-fee__percentage">
                                    30%
                                </div>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--3-col-phone mdl-typography--text-right">
                                    <h5>Payment system services</h5>
                                    <small>Payment services, such as PayPal, charge a fee to automate money transfers</small>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--1-col-phone cr-fee__percentage">
                                    2%
                                </div>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--3-col-phone mdl-typography--text-right">
                                    <h5>Processing fee</h5>
                                    <small>We charge a fee which goes into server maintenance</small>
                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--1-col-phone cr-fee__percentage">
                                    12%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cr-support cr-layout--dark-bg">
                    <div class="cr-content mdl-grid mdl-typography--text-center">
                        <div class="cr-support__item mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
                            <h5 class="cr-typography__text--large cr-typography__heading">Got questions?</h5>
                            <a class="cr-typography__text--small cr-typography__text--no-underline" href="{{{baseUrl}}}/faq.html">Visit our FAQ
                                page</a>
                        </div>
                        <div class="cr-support__item mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet">
                            <h5 class="cr-typography__text--large cr-typography__heading">Need support?</h5>
                            <a class="cr-typography__text--small cr-typography__text--no-underline" href="{{{baseUrl}}}/contact.html">Contact
                                us</a>
                        </div>
                    </div>
                </div>
            </div>
{{> footer}}