{{> header title='Credit Refund - Privacy' description='Credit Refund privacy policy'}}
            <div class="cr-privacy mdl-layout__content cr-layout--light-bg">
                <a name="top"></a>
                <div class="cr-content">
                    <h1>Privacy Policy</h1>
                    <p>
                        <i>Last Updated: 10th July 2016</i>
                    </p>
                    <h4>
                        What information we collect?
                    </h4>
                    <p>
                        In using our "Credit Refund" Android application, you will be asked to provide the following information:
                    </p>
                    <ul>
                        <li>
                            Email address
                        </li>
                    </ul>

                    <h4>
                        When do we collect your information?
                    </h4>
                    <p>
                        We collect information you provide when you perform the following actions in our app:
                    </p>
                    <ul>
                        <li>
                            Calculate your payout amount
                        </li>
                        <li>
                            Place your order
                        </li>
                    </ul>

                    <h4>
                        Why do we collect your information?
                    </h4>
                    <p>
                        The personal information is used to send money to your nominated account via a payment system. The payment systems we use are as follows:
                    </p>
                    <ul>
                        <li>
                            Paypal
                        </li>
                    </ul>
                    <p>
                        In addition, we will use also your information to perform the following operations:
                    </p>
                    <ul>
                        <li>
                            To assist in your customer support queries.
                        </li>
                        <li>
                            To contact you if there has been an error in processing your order.
                        </li>
                    </ul>

                    <h4>
                        Security
                    </h4>
                    <p>
                        The security of your personal information is important to us. All personal information collected
                        are encrypted in transit using the Transport Layer Security (TLS) protocol and stored on a secure
                        network. We do not use your personal information for anything other than to provide the services that was
                        agreed when sharing such information.
                    </p>
                    <p>
                         We retain your information for at least 6 months to assist in any further enquiries. If you wish
                        to request that we no longer store your information, please <a href="{{baseUrl}}/contact.html">contact us</a>.
                    </p>
                    <h4>
                        Third parties
                    </h4>
                    <p>
                        We do not sell, trade or otherwise share any personal identifiable information to third parties. However,
                        in order to send funds to your account, we must share payment information to the payment system. We will
                        also disclose personally identifiable information to government and law enforcement
                        parties when required by law.
                    </p>
                    <h4>
                        Tracking
                    </h4>
                    <p>
                        We use Google Analytics to track visitors on this site, which follows the
                        <a href="http://www.google.com/intl/en/policies/privacy/">Google Privacy Policy</a>.
                    </p>
                </div>
            </div>
{{> footer}}