@import "cr/vendor-variables";

@import "cr/material-design-lite";

@import "cr/variables";

@import "core/core";

@import "cr/cr";

body {
    display: flex;
    flex-direction: row;
}

.mdl-layout {
    height: auto;
}