.cr-module {
    padding-top: 90px;
    padding-bottom: 90px;
}

.cr-module__module {
    padding-bottom: 30px;
}

.material-icons.cr-module__icons {
    font-size: 60px;
    color: unquote("rgba(#{$color-black}, 0.80)");
}
.cr-module__text {
    display: block;
}